<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))
flo=3.54
print(type(flo))

<class 'float'>
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3]) # Se puede ver una parte deuna lista utilizando la notacion x:y

['Connect', 1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
#EJEMPLO
lista= [0,1,2,3,4,5,6,7,8,9,10]
#impíme toda la lista
print(lista[0:11])
#impíme desde el numero 2 al 8
print(lista[2:9])
#impíme desde el numero 3 al final
print(lista[3:])
#impíme desde el comienzo hasta el numero 7
print(lista[:8])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
#EJEMPLO de funciones no utilizadas antes
print('Funcion que cuenta las veces que aparece un caracter en este caso la e'.count('e'))
print('Funcion que dice en que lugar de el string aparece de primeras el caracter '.find('e'))
print('Funcion que remplaza a en esta caso por e s'.replace('a','e'))

12
10
Funcion que rempleze e en este ceso por e s

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43') # cambia los corchetes por los valores en la funcion
print(my_time)

Hour: 09, Minute:43

In [ ]:
#EJEMPLO de uso de la funcion format
my_time = 'Nombre:{} , Apellido:{} , Edad:{} , Semestre:{}'.format('Nicol','Guerrero', '19' , 6) # no tienen que ser necesariamente strings
print(my_time)

Nombre:Nicol , Apellido:Guerrero , Edad:19 , Semestre:6

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)
# Miramos cuales strings quedaron en la nueva lista
print(new_list)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue # Se salta los comandos del loop y sigue con la siguiente iteracion
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
# EJMPLO con continue
stocks = 'abcdefghijklmnñopqrstuvwxyz'
for i in stocks:
    if i == 'ñ':
        continue # Se salta los comandos del loop y sigue con la siguiente iteracion
    print(i)
#Imprime e abcedario sin la ñ

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [225]:
#EJEMPLO de practica
list = [1,2,3,4,5,6,7,8,9,10]
pares = [x for x in list if x%2==0 ]
print(pares)

[2, 4, 6, 8, 10]

In [ ]:
#EJEMPLO de practica
print([str(x)+' es pareja con '+str(y) for x in ['nicol','javier','manuel','sofia'] for y in ['nicol','javier','manuel','sofia'] if x!=y])

['nicol es pareja con javier', 'nicol es pareja con manuel', 'nicol es pareja con sofia', 'javier es pareja con nicol', 'javier es pareja con manuel', 'javier es pareja con sofia', 'manuel es pareja con nicol', 'manuel es pareja con javier', 'manuel es pareja con sofia', 'sofia es pareja con nicol', 'sofia es pareja con javier', 'sofia es pareja con manuel']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [215]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [216]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [217]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [218]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [226]:
print(list)
del list # del ELIMINA LA LISTA
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers)) #Aplica la funcion len a cada item en la lista tickers

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
#EJEMPLO de practica
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(list,tickers))) #Map utiliza la funcion list en cada elemento de la lista volviendose una lista de listas

[['A', 'A', 'P', 'L'], ['G', 'O', 'O', 'G'], ['I', 'B', 'M'], ['F', 'B'], ['F'], ['V'], ['G'], ['G', 'E']]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10))) #Lambda crea una pequeña funcion

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1])) #La funcion map puede utilizar mas de una lista si son de la misma longitud, ademas de funciones lambda

[6, 6, 6, 6, 6]

In [ ]:
#EJEMPLO de practica 
list(map(lambda x,y,z: (x,y,z), range(5), range(5,11), range(10,16)))

[(0, 5, 10), (1, 6, 11), (2, 7, 12), (3, 8, 13), (4, 9, 14)]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1]) #Ordena la lista

[1, 2, 3, 4, 5]

In [ ]:
#EJEMPLO para practicar
sorted([5,2,3,4,1,100,55,43,19,88,10000])

[1, 2, 3, 4, 5, 19, 43, 55, 88, 100, 10000]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1]) # imprime una lista ordenada de de menor a mayor de pendiendo del 2 valor de la tupla

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)  # Imprime una lista ordenada de de mayor a menor de pendiendo del 2 valor de la tupla
#Lo mismo que en el anterior ejemplo pero el orden esta invertido

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1]) #Hace lo mismo que la funcion antes vista solo que esta vez no se crea una nueva lista sino se organiza la ya existente
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
#EJEMPLO para practicar
price_list = [(8,144.09),(2,911.71),(5,69),(11,150),(15,75.32)]
sorted(price_list, key = lambda x: x[0],reverse = False)
#Ordenamos la lista de tuplas dependiendo el primer valor, no es necesario poner el reverse ya que es de menor a mayor

[(2, 911.71), (5, 69), (8, 144.09), (11, 150), (15, 75.32)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    #__init__ es el constructor
    def __init__(self, ticker, open, close, volume):
      #Instanciamos los atributos
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self): 
        print(self.rate_return)
    '''
SE DEBE AGREGAR SELF YA QUE O SI NO SO SE SABE DE QUE ELEMENTO SE HABLA
#LA SIGUIENTE FUNCION NO FUNCIONARIA
#def prueba(): 
       print(rate_return)
    '''

#nEJEMPLO Nueva funcion 
    def traer_close(self):
      print(self.close)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()
#EJEMPLO FUNCION
google.traer_close()

0.0006573181419806673
0.0006573181419806673
913.4

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo
#Podemos crear atributos a lo largo e codigo sin que sten especificadaas en la funcion

'Tim Cook'

In [ ]:
#EJEMPLO
apple.ejem = 'yo soy un ejemplo'
apple.ejem

'yo soy un ejemplo'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)
#Podemos ver el atributo ejem y ceo creado anteriormente

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'ejem',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'traer_close',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock): #Utilizamos entre parentecis la clase de la cual hereda la funcion, en esta caso child hereda a stock
    def __init__(self,name):
        self.name = name

In [ ]:
#EJEMPLO
class nicol(child):
  def __init__(self,edad):
    self.edad=edad

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())
#Se ve como aa (un objeto de child) puede utilizar la funciones de child y de stock

aa
100
102
0.020000000000000018
None

In [ ]:
#EJEMPLO
persona = nicol('19')
print(persona.edad)
persona.name = 'nicol' #Podemos cambiar el valor de un atributo directamente
print(persona.name)
persona.update(58,60)
print(persona.open)
print(persona.close)
print(persona.print_return())

19
nicol
58
60
0.034482758620689724
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [2]:
import numpy as np #Importa libreria numby

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [3]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
#Se convierte lista en un array con numpy
price_array = np.array(price_list) #se utiliza np para utilizar funciones de la libreria numpy
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [4]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [5]:
#EJEMPLO
lista = [['a','b','c'],['d','e','f']]
ejemplo = np.array(lista) #Se utiliza np para utilizar funciones de la libreria numpy
print(ejemplo, type(ejemplo))

[['a' 'b' 'c']
 ['d' 'e' 'f']] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [6]:
print(Ar.shape) #Puedo saber las dimenciones del array utilzando la funcion shape

(2, 2)

In [7]:
#EJEMPLO
print(ejemplo.shape)
#Vemos que las dimenciones son 2x3

(2, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [8]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [9]:
#EJEMPLO
print(ejemplo[0])
print(ejemplo[1])

['a' 'b' 'c']
['d' 'e' 'f']

If we want to access the matrix by column instead:

In [10]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])
#Imprime la matriz por columnas

the first column:  [1 2]
the second column:  [3 4]

In [11]:
#EJEMPLO
print('the first column: ',ejemplo [:,0])
print('the second column: ', ejemplo[:,1])
print('the third column: ', ejemplo[:,2])

the first column:  ['a' 'd']
the second column:  ['b' 'e']
the third column:  ['c' 'f']

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [12]:
print(np.log(price_array))#Log es una funcion de numpy que saca el logartimo natural de cada elemento

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [13]:
print(np.mean(price_array)) #La funcion mean saca la media de todos los elemntos, suma todos los elementos del array y lo divide en la cantidad de elementos
print(np.std(price_array))  #La funcion std saca la desviacion estandar del array
print(np.sum(price_array))  #La funcion sum retorna la suma todos los elementos del array
print(np.max(price_array))  #La funcion max retorna el mayor numero del array

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [55]:
import pandas as pd  #importa libreria de pandas de python, permite obtener columnas o filas de nuestros datos de forma muy fácil e intuitiva

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [56]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s
#Es un array unidimencional con etiquetas de ejes en este caso las etiquetas son numeros.

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [57]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s
#Podemos editar los valores de las etiquetas o indices con la funcion series , aclarando el segundo valor de la funcion index=[ lista de los valores de los indices]

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [58]:
s.index = [6,5,4,3,2,1]
s
#Tambien se pueden cambiar los indices por una lista existente con la serie creada .index igula a la lista exixtente

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [59]:
print(s[1:])
print(s[:-2])
#Se puede imprimir un rango de la serie como se hace con una lista

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [60]:
print(s[4])
s[4] = 0
print(s)
#La series de panda son como un diccionario ya que a cada valor pertenece un indice, ademas de que se puede cambiar el valor de este indice como se ve anteriormente

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [61]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)
#Con la funcion de series podemos especifricar el valor name para ponerle un nombre a la serie

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [62]:
print(s.describe()) #Con esta funcion de la serie llamada describe podemos ver una resumen de la serie

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [63]:
#EJEMPLO
lista = ['manzana','fresa', 'pera', 'mango' , 'freijoa' , 'mandarina']
indices = range(5,11) # la cantidad de indices deba ser la misma cantidad de elementos en la serie
ejem = pd.Series(lista, index= indices, name = 'frutas')
print(ejem[:-1])
print(ejem)
print(ejem.describe())

5    manzana
6      fresa
7       pera
8      mango
9    freijoa
Name: frutas, dtype: object
5       manzana
6         fresa
7          pera
8         mango
9       freijoa
10    mandarina
Name: frutas, dtype: object
count           6
unique          6
top       manzana
freq            1
Name: frutas, dtype: object

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [64]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D') #date_range es una funcion especializada para creacion de indices de fechas
'''
en la varibales de data_range tenemos los periodos que es la cantidad de datos que deba tener la lista (en este caso para uqe sena los indices deba ser la misma cantidad que s) 
tenemos la frequencia que es la varibilidad de los datos, esat funcio tiene ams datos como D (dias de calendario frecuencia)
otro ejemplo podria ser B (dias de negocio frecuencia)
pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=NoDefault.no_default, inclusive=None, **kwargs)
'''
print(time_index)
s.index = time_index #Utilizamos esta lista de fechas para ponerla en el indice en nuestra serie
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [65]:
#EJEMPLO
# vamos a realaizar una lista de fechas con hora en el que la hora aumente de a dos horas y media
fechas = pd.date_range('2011-01-01 18:00:00', periods=len(ejem), freq = "2h30min")
print(fechas) #podemos ver que la funcion aumenta automaticamente el dia cuando pasa el tiempo
ejem.index = fechas
print(ejem)

DatetimeIndex(['2011-01-01 18:00:00', '2011-01-01 20:30:00',
               '2011-01-01 23:00:00', '2011-01-02 01:30:00',
               '2011-01-02 04:00:00', '2011-01-02 06:30:00'],
              dtype='datetime64[ns]', freq='150T')
2011-01-01 18:00:00      manzana
2011-01-01 20:30:00        fresa
2011-01-01 23:00:00         pera
2011-01-02 01:30:00        mango
2011-01-02 04:00:00      freijoa
2011-01-02 06:30:00    mandarina
Freq: 150T, Name: frutas, dtype: object

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [66]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1]) #Podemos obtener el valor del indice colocando el nombre del indice dentro de parentesisi cuadrados como en una lista

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [67]:
print(s.iloc[1]) #al utiliza iloc obtenemos el valor 1 de la lista de atributos

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [68]:
s.index = time_index
print(s['2017-01-03']) # dentro de los parentesis cuadrados poenemos el valo4r del indice para obtener su atributo, puede ser un string

143.68

We can even access to a range of dates:

In [69]:
print(s['2017-01-02':'2017-01-05']) # tambien con fechas podemos obtenerlos entre un rango de valores

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [72]:
print(s)
print(np.mean(s))
# va a impimir todos los numeros mejores a 143.89
print(s[s < np.mean(s)] ) # imprime todos los numeros que se encuentren en este rango
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))]) #iprime una lista con todos los valores que cumplan esta comparacion

2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64
143.89666666666668
2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [86]:
#EJEMPLO
print(ejem) #imprime mimos toda la serie para poder ver los resultados de las funciones
print(ejem['2011-01-02 01:30:00']) #imprime el valor que tenga este indice
print(ejem.iloc[4])#imprime el 4 valor que este en los atributos
print(ejem.loc['2011-01-02 06:30:00']) #imprime el valor que tenga este indice
print(ejem['2011-01-01 20:30:00' : '2011-01-02 04:00:00']) #imprime los valores en este rago
print(ejem[ ejem == 'mandarina'] ) # imprime los obejtos de la seria que cumplan la igualdad

2011-01-01 18:00:00      manzana
2011-01-01 20:30:00        fresa
2011-01-01 23:00:00         pera
2011-01-02 01:30:00        mango
2011-01-02 04:00:00      freijoa
2011-01-02 06:30:00    mandarina
Freq: 150T, Name: frutas, dtype: object
mango
freijoa
mandarina
2011-01-01 20:30:00      fresa
2011-01-01 23:00:00       pera
2011-01-02 01:30:00      mango
2011-01-02 04:00:00    freijoa
Freq: 150T, Name: frutas, dtype: object
2011-01-02 06:30:00    mandarina
Freq: 150T, Name: frutas, dtype: object

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [117]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)

In [118]:
import yfinance as yf
# La clase Ticker permite acceder a información de balances, cashflows, dividendos, accionistas
#en este caso aapl es apple
aapl = yf.Ticker("AAPL") 

# get stock info
print(aapl.info) #aca sacamos la informacion

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31") #obtenemos una tabla entre estas fechas
aapl_table #imprimos la tabla obtenida anteriormente.

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 171.52, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.76, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.297, 'beta3Year': None, 'enterpriseToEbitda': 21.828, '52WeekChange': 0.14568162, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59714, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.05, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.056043804, 'priceToBook': 47.512466, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2827915362304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 7.1126842, 'dateShortInterest': 1659052800, 'pegRatio': 3.01, 'ytdReturn': None, 'forwardPE': 26.633541, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 174.15, 'regularMarketOpen': 173.03, 'twoHundredDayAverage': 160.461, 'trailingAnnualDividendYield': 0.005110537, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 173.74, 'navPrice': None, 'averageDailyVolume10Day': 64119090, 'regularMarketPreviousClose': 174.15, 'fiftyDayAverage': 151.3188, 'trailingAnnualDividendRate': 0.89, 'open': 173.03, 'toCurrency': None, 'averageVolume10days': 64119090, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 171.3101, 'currency': 'USD', 'trailingPE': 28.350412, 'regularMarketVolume': 70346295, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2756463820800, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76763275, 'dayLow': 171.3101, 'ask': 170.75, 'askSize': 900, 'volume': 70346295, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 170.71, 'tradeable': False, 'dividendYield': 0.0054, 'bidSize': 900, 'dayHigh': 173.74, 'coinMarketCapLink': None, 'regularMarketPrice': 171.52, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.1143}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523347,24.156077,23.383504,24.151491,270597600,0.0,0
2016-01-05,24.243199,24.266123,23.477504,23.546278,223164000,0.0,0
2016-01-06,23.053387,23.468331,22.895205,23.085482,273829600,0.0,0
2016-01-07,22.622396,22.954808,22.106584,22.111168,324377600,0.0,0
2016-01-08,22.592597,22.720976,22.182239,22.228088,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.594680,41.770890,41.551820,41.673260,65397600,0.0,0
2017-12-26,40.670787,40.830326,40.404090,40.616020,132742000,0.0,0
2017-12-27,40.504086,40.666006,40.411220,40.623146,85992800,0.0,0
2017-12-28,40.718403,40.920806,40.594580,40.737453,65920800,0.0,0
2017-12-29,40.604104,40.620771,40.294549,40.296928,103999600,0.0,0

In [119]:
#EJEMPLO 
nejem = yf.Ticker("AMD") 
nejem_tabla = nejem.history(start="2020-01-01",  end="2022-01-31")
nejem_tabla

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02,46.860001,49.250000,46.630001,49.099998,80331100,0,0
2020-01-03,48.029999,49.389999,47.540001,48.599998,73127400,0,0
2020-01-06,48.020000,48.860001,47.860001,48.389999,47934900,0,0
2020-01-07,49.349998,49.389999,48.040001,48.250000,58061400,0,0
2020-01-08,47.849998,48.299999,47.139999,47.830002,53767000,0,0
...,...,...,...,...,...,...,...
2022-01-24,115.400002,116.769997,107.500000,116.529999,116210100,0,0
2022-01-25,114.099998,114.820000,109.860001,111.129997,85102900,0,0
2022-01-26,114.550003,117.160004,108.629997,110.709999,94752600,0,0
2022-01-27,111.959999,112.750000,101.940002,102.599998,125954100,0,0
2022-01-28,101.550003,105.400002,99.349998,105.239998,98749500,0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [120]:
aapl = aapl_table['Close']['2017'] #aca dividimos la tabla sacando los valores de close del 2017

In [121]:
print(aapl) #imprimimos la tabla antes creada

Date
2017-01-03    27.219835
2017-01-04    27.189367
2017-01-05    27.327637
2017-01-06    27.632288
2017-01-09    27.885389
                ...
2017-12-22    41.673260
2017-12-26    40.616020
2017-12-27    40.623146
2017-12-28    40.737453
2017-12-29    40.296928
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [122]:
print(aapl['2017-3']) #tambien podemos filtrar la tabla por una fecha exacta como veos a continuaion

Date
2017-03-01    32.901924
2017-03-02    32.706551
2017-03-03    32.899559
2017-03-06    32.795998
2017-03-07    32.838367
2017-03-08    32.715981
2017-03-09    32.640648
2017-03-10    32.748940
2017-03-13    32.763050
2017-03-14    32.713627
2017-03-15    33.059616
2017-03-16    33.113750
2017-03-17    32.948990
2017-03-20    33.294983
2017-03-21    32.913696
2017-03-22    33.285564
2017-03-23    33.167877
2017-03-24    33.101982
2017-03-27    33.158470
2017-03-28    33.845734
2017-03-29    33.921051
2017-03-30    33.876331
2017-03-31    33.812782
Name: Close, dtype: float64

In [104]:
aapl['2017-2':'2017-4'] # POdemos filtrar los valores entre un rango de fecha especificos

Date
2017-02-01    30.172651
2017-02-02    30.121101
2017-02-03    30.249987
2017-02-06    30.533548
2017-02-07    30.824152
                ...
2017-04-24    33.808083
2017-04-25    34.017563
2017-04-26    33.817486
2017-04-27    33.843380
2017-04-28    33.810429
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [133]:
print(aapl.head(5)) #esta funcion head retorna los primeros n valores del data frame , esta caso retornar los primeros 5 valores de AAPL
print(aapl.tail(10)) #esta funcion tail retorna los ultimos n valores del data frame , esta caso retornar los ultimos 10 valores de AAPL

Date
2017-01-03    27.219835
2017-01-04    27.189367
2017-01-05    27.327637
2017-01-06    27.632288
2017-01-09    27.885389
Name: Close, dtype: float64
Date
2017-12-15    41.425610
2017-12-18    42.008999
2017-12-19    41.561340
2017-12-20    41.516102
2017-12-21    41.673260
2017-12-22    41.673260
2017-12-26    40.616020
2017-12-27    40.623146
2017-12-28    40.737453
2017-12-29    40.296928
Name: Close, dtype: float64

In [132]:
#EJEMPLO
nejem = nejem_tabla['Open']['2021-2':'2021-4'] 
print(nejem.head(3))
print(nejem.tail(3))

Date
2021-02-01    86.830002
2021-02-02    88.489998
2021-02-03    88.599998
Name: Open, dtype: float64
Date
2021-04-28    88.849998
2021-04-29    84.699997
2021-04-30    82.970001
Name: Open, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
#Resample divide la secciones por una especificacionhace un remuestreo de esta en estecaso po M osea meses, esta funcion mas mean, lo que hace es dividir la tabla en meses con una media de cada uno de ellos
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [135]:
by_week = aapl.resample('W').mean() #Esta funcion realiza lo mismo que la anterior solo que saca el promedio e cada semana
print(by_week.head()) #Imprime los primeros valores de la tabla por default saca los primeros 5

Date
2017-01-08    27.342282
2017-01-15    27.941164
2017-01-22    28.108609
2017-01-29    28.394870
2017-02-05    29.497253
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max() #En esta tabla se saca por meses el maxiimo valor

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [136]:
three_day = aapl.resample('3D').mean() #Se retorna la tabla con la media de cada 3 dias
two_week = aapl.resample('2W').mean()  #Se retorna la tabla con la media de cada 2 semanas
two_month = aapl.resample('2M').mean() #Se retorna la tabla con la media de cada 2 meses

print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.245613
2017-01-06    27.632288
2017-01-09    27.954131
2017-01-12    27.921712
2017-01-15    28.122086
                ...
2017-12-17    41.785170
2017-12-20    41.620874
2017-12-23          NaN
2017-12-26    40.658873
2017-12-29    40.296928
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.342282
2017-01-22    28.015584
2017-02-05    28.946062
2017-02-19    31.341197
2017-03-05    32.413923
2017-03-19    32.833897
2017-04-02    33.437847
2017-04-16    33.661105
2017-04-30    33.603545
2017-05-14    35.498711
2017-05-28    36.292808
2017-06-11    36.311533
2017-06-25    34.336640
2017-07-09    34.074195
2017-07-23    35.082288
2017-08-06    36.070655
2017-08-20    37.692903
2017-09-03    38.244487
2017-09-17    38.069383
2017-10-01    36.635585
2017-10-15    36.865020
2017-10-29    37.546924
2017-11-12    40.803596
2017-11-26    40.974774
2017-12-10    40.639342
2017-12-24    41.388941
2018-01-07    40.568387
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.021313
2017-03-31    32.342820
2017-05-31    34.861505
2017-07-31    34.990891
2017-09-30    37.550769
2017-11-30    39.183049
2018-01-31    40.930682
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()  #Se retorna la tabla con la desviacion estandar en cada semana
max = aapl.resample('W').max()  #Se retorna la tabla con el maximo valore de cada semana
min = aapl.resample('W').min()  #Se retorna la tabla con la media de cada 2 meses

print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [142]:
last_day = aapl.resample('M').agg(lambda x: x[-1]) #Retornamos una tabla donde se divide en meses y el valor correspondiente a esta es el ultimo valor del mes
print(last_day)

Date
2017-01-31    28.438457
2017-02-28    32.242889
2017-03-31    33.812782
2017-04-30    33.810432
2017-05-31    36.103027
2017-06-30    34.037434
2017-07-31    35.150585
2017-08-31    38.911678
2017-09-30    36.567482
2017-10-31    40.107502
2017-11-30    40.920803
2017-12-31    40.296928
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [139]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1) #Retorna tabla dividida en meses donde el valor es el valor del ultimo dia dividido en el valor del priomer dia menos 1 
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [140]:
print(monthly_return.mean()) #De la tabla realizada se saca la media
print(monthly_return.std())  #De la tabla realizada se saca la desviacion estandar
print(monthly_return.max())  #De la tabla realizada se saca el maximo valor

0.026863263866541937
0.052258541315418704
0.09901818470319923

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [143]:
print(last_day.diff()) #Calcula la diferencia de un elemento de la serie en comparación con otro elemento de la serie (el valor default es el elemento de la fila anterior)
print(last_day.pct_change()) #Calcula el cambio porcentual entre el elemento actual y el anterior(el vcalor deafult es el cambio porcentual desde la fila anterior)

Date
2017-01-31         NaN
2017-02-28    3.804432
2017-03-31    1.569893
2017-04-30   -0.002350
2017-05-31    2.292595
2017-06-30   -2.065594
2017-07-31    1.113152
2017-08-31    3.761093
2017-09-30   -2.344196
2017-10-31    3.540020
2017-11-30    0.813301
2017-12-31   -0.623875
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [148]:
daily_return = last_day.pct_change() #utilizando la funcion anterior calcula el cambio porcentual entre el elemento actual y el anterior 
print(daily_return.fillna(0)) #la funcion fillna cambia los valores NA o NAN por el valor dado en este caso 0

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [149]:
#EJEMPLO DE ACLARACION
#Asi se ve la impresion de la tabla sin fillna mirar el primer valor
print(daily_return)

Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [150]:
daily_return = last_day.pct_change() #Creacion de la misma tabla anterior
print(daily_return.fillna(method = 'bfill')) # Utilizamos fillna para rellanar los NAN  en este caso especificamos el methodo bfill lo que hace es rellenar el NAN/NA con el siguiente valor

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()  #Utilizando la funcion pct_change calcula el cambio porcentual entre el elemento actual y el anterior 
daily_return.dropna() #Retorna la tabla y gracias a la funcion dropna se retorna sin los valores NA O NAN

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [153]:
import pandas as pd
 #Creamos un diccionario con los valores
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
#date_range es una funcion especializada para creacion de indices de fechas como lo habiasmo visto anteriormente, en ests caso se aumenta la fecha en dias sacamos una cantidad de 5 fechas.
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')  
#Data frama es una estructura de dadtos que a diferencia de la serie puede tener varias columanas y filas, puede ser la combinacion de varias series
df = pd.DataFrame(dict, index = data_index) #Realizamos un data frame con el diccionario creado anteriormente utilizando como indices las fechas creadas anteriormente 
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [160]:
df = aapl_table #Utilizamos la tabla cerada anteriromente de los datos de apple llamada aapl_table
print(df.Close.tail(5)) #Retornamos los ultimos 5 valores del atributo Close de la tabla aapl_table
print(df['Volume'].tail(5))  #Retornamos los ultimos 5 valores del atributo Volume de la tabla aapl_table

Date
2017-12-22    41.673260
2017-12-26    40.616020
2017-12-27    40.623146
2017-12-28    40.737453
2017-12-29    40.296928
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [161]:
#Para retornar los valores de la tabla se puede utilizar dos formas coo vemos a continuacion
print(df.Volume.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [163]:
aapl_2016 = df['2016']  #Limitamos los valores de la tabla a solo los del 2016
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1]) #Dividimos la tabla en meses obteniendo como valor el utimo valor del mes 
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207  257666000        0.0
2016-02-29  22.325652  22.641430  22.277249  22.286469  140865200        0.0
2016-03-31  25.289809  25.331298  25.096193  25.121548  103553600        0.0
2016-04-30  21.664134  21.832395  21.323003  21.606510  274126000        0.0
2016-05-31  23.096979  23.282497  22.916099  23.157272  169228800        0.0
2016-06-30  21.900393  22.208816  21.867928  22.169394  143345600        0.0
2016-07-31  24.161394  24.244877  24.043126  24.166031  110934800        0.0
2016-08-31  24.635014  24.847183  24.630350  24.737600  118649600        0.0
2016-09-30  26.220455  26.432626  26.066575  26.358017  145516400        0.0
2016-10-31  26.497910  26.633140  26.392990  26.472263  105677600        0.0
2016-11-30  26.153536  26.294146  25.841849  25.900436  144649200        0.0
2016-12-31  27.337010  27.465901  27.051101  27.142498  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [164]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']] #Limitamos los valores de la tabla a solo los  mencionados en este caso ('Open', 'High', 'Low', 'Close')
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207
2016-02-29  22.325652  22.641430  22.277249  22.286469
2016-03-31  25.289809  25.331298  25.096193  25.121548
2016-04-30  21.664134  21.832395  21.323003  21.606510
2016-05-31  23.096979  23.282497  22.916099  23.157272
2016-06-30  21.900393  22.208816  21.867928  22.169394
2016-07-31  24.161394  24.244877  24.043126  24.166031
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220455  26.432626  26.066575  26.358017
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [165]:
 #Limitamos los valores de la tabla en las dos dimenciones  los  mencionados en este caso para la fila ('Open', 'High', 'Low', 'Close') y para la columan de los valores de '2016-03' a '2016-06'
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.289809  25.331298  25.096193  25.121548
2016-04-30  21.664134  21.832395  21.323003  21.606510
2016-05-31  23.096979  23.282497  22.916099  23.157272
2016-06-30  21.900393  22.208816  21.867928  22.169394

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [166]:
import numpy as np #importamos numpy

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)] #Creamos una nueva tabla con los valores de Close que sean mayores a la media del total de valores de close de la tabla aapl_bar
print(above) #Imprime la tabla nueva creada con los valores que cumplieron la funcion

                 Open       High        Low      Close
Date
2016-03-31  25.289809  25.331298  25.096193  25.121548
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220455  26.432626  26.066575  26.358017
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [169]:
 #Editamos los valores del atributo rate_return con la tabla aapl_bar los valores de close (.Close) calculando el cambio porcentual entre el elemento actual y el anterior (.pct_change() )
aapl_bar['rate_return'] = aapl_bar.Close.pct_change() 
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207          NaN
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [172]:
missing = aapl_bar.isnull() #La funcion isnull retorna si un valor es NA/NAN true y si no es Falce  
print(missing)
print('---------------------------------------------')
print(missing.describe()) #Como vimos anteriormente describe nos da un resumen de la tabla

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True]) #Ya encontrado en que columna esta el valor null podemos encontrarlo facilmente con la igualldad donde la columna tenga valores true

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [173]:
drop = aapl_bar.dropna() # retorna la tabla aapl_bar y gracias a la funcion dropna se retorna sin los valores NA O NAN
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0) # retorna la tabla aapl_bar y gracias a la funcion dropna se cambian los valores NA/NAN por 0
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207     0.000000
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [188]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL') #creamos una serie
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG') #creamos una serie
data_frame = pd.concat([s1,s2], axis = 1) #Con la funcion concat concatenamos o unimos las dos series antes creada en un data frame
# index tiene dos valores 0 para indices y 1 para columnas
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close) #Sacamos el logaritmo natural de cada valor de close de la tabla  aapl_bar
log_price.name = 'log_price' 
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1) #Unimos la tabla aapl_bar y log_price en columnas
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [187]:
# Creamos una nueva tabla con los valores 'Volume'y 'Stock Splits' quiie este entre '2016-10'y '2017-04' dividido en meses teniendo como valor el ultimo valor del mes.
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1]) 
print(df_volume)
print('\n---------------------- separate line--------------------\n')
# Creamos una nueva tabla con los valores 'Open', 'High', 'Low' y 'Close' quiie este entre '2016-10'y '2017-04' dividido en meses teniendo como valor el ultimo valor del mes.
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498
2017-01-31  28.391588  28.447832  28.267382  28.438457
2017-02-28  32.264072  32.348804  32.174631  32.242889
2017-03-31  33.826904  33.956356  33.659792  33.812782
2017-04-30  33.913994  33.963423  33.720996  33.810432

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [189]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #unimos las tablas aapl_bar y  df_volume en columnas
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207          NaN
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [196]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner') #Crea una nueva tabla uniendo aapl_bar y df_volume en columnas sin valores NA/NAN
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [198]:
append = aapl_bar.append(df_2017) #se agrega al data frame  aapl_bar los valores del deta frame df_2017
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207          NaN
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2016-10-31  26.497910  26.633140  26.392990  26.472263          NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436          NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498          NaN
2017-01-31  28.391588  28.447832  28.267382  28.438457          NaN
2017-02-28  32.264072  32.348804  32.174631  32.242889          NaN
2017-03-31  33.826904  33.956356  33.659792  33.812782          NaN
2017-04-30  33.913994  33.963423  33.720996  33.810432          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [199]:
concat = pd.concat([aapl_bar, df_2017], axis = 0) #concatenamos aapl_bar y df_2017 por filas
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207          NaN
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2016-10-31  26.497910  26.633140  26.392990  26.472263          NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436          NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498          NaN
2017-01-31  28.391588  28.447832  28.267382  28.438457          NaN
2017-02-28  32.264072  32.348804  32.174631  32.242889          NaN
2017-03-31  33.826904  33.956356  33.659792  33.812782          NaN
2017-04-30  33.913994  33.963423  33.720996  33.810432          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [206]:

df_2017.columns = ['Change', 'High','Low','Close'] #Las columnas de la tabla se van a nombrar de esta manera (la lista tiene que ser igual al numero de columnas)

concat = pd.concat([aapl_bar, df_2017], axis = 0) #concatenamos aapl_bar y df_2017 por filas
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207          NaN        NaN
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288        NaN
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211        NaN
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921        NaN
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773        NaN
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660        NaN
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063        NaN
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652        NaN
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504        NaN
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334        NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601        NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955        NaN
2016-10-31        NaN  26.633140  26.392990  26.472263          NaN  26.497910
2016-11-30        NaN  26.294146  25.841849  25.900436          NaN  26.153536
2016-12-31        NaN  27.465901  27.051101  27.142498          NaN  27.337010
2017-01-31        NaN  28.447832  28.267382  28.438457          NaN  28.391588
2017-02-28        NaN  32.348804  32.174631  32.242889          NaN  32.264072
2017-03-31        NaN  33.956356  33.659792  33.812782          NaN  33.826904
2017-04-30        NaN  33.963423  33.720996  33.810432          NaN  33.913994

In [207]:
#REVICION para ver como se relaizo la union
print(aapl_bar)
print(df_2017)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207          NaN
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
               Change       High        Low      Close
Date
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498
2017-01-31  28.391588  28.447832  28.267382  28.438457
2017-02-28  32.264072  32.348804  32.174631  32.242889
2017-03-31  33.826904  33.956356  33.659792  33.812782
2017-04-30  33.913994  33.963423  33.720996  33.810432
                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730620  22.315207  21.629749  22.315207          NaN        NaN
2016-02-29  22.325652  22.641430  22.277249  22.286469    -0.001288        NaN
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211        NaN
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921        NaN
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773        NaN
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660        NaN
2016-07-31  24.161394  24.244877  24.043126  24.166031     0.090063        NaN
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652        NaN
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504        NaN
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334        NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601        NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955        NaN
2016-10-31        NaN  26.633140  26.392990  26.472263          NaN  26.497910
2016-11-30        NaN  26.294146  25.841849  25.900436          NaN  26.153536
2016-12-31        NaN  27.465901  27.051101  27.142498          NaN  27.337010
2017-01-31        NaN  28.447832  28.267382  28.438457          NaN  28.391588
2017-02-28        NaN  32.348804  32.174631  32.242889          NaN  32.264072
2017-03-31        NaN  33.956356  33.659792  33.812782          NaN  33.826904
2017-04-30        NaN  33.963423  33.720996  33.810432          NaN  33.913994

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.